@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scrollbar-thin scrollbar-thumb-zinc-700 scrollbar-track-zinc-900;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}

@keyframes highlight {
  0% {
    background-color: rgba(82, 82, 91, 0.3);
    border-color: rgba(82, 82, 91, 0.5);
  }
  100% {
    background-color: rgb(24, 24, 27);
    border-color: transparent;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-highlight {
  animation: highlight 2s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 2s ease-out forwards;
}